<router-outlet></router-outlet>
<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input [(ngModel)]="_title" type="text" id="myInput" placeholder="Title...">
  <span (click)="addTask()" class="addBtn">Add</span>
</div>

<ul *ngFor="let task of tasks" id="myUL">
  <li>{{task.title}}<button (click)="delete(task.id)" style="float:right">X</button></li>
  <!-- <li class="checked">Pay <button style="float:right">X</button></li>
  <li>Meet <button style="float:right">X</button></li>
  <li>Buy eggs<button style="float:right">X</button></li>
  <li>Read a book<button style="float:right">X</button></li>
  <li>Organize office<button style="float:right">X</button></li> -->
</ul>
<!-- <div class="loader"></div>  -->